<div class="basket-container">
    <div class="basket-window">
        <div class="close-icon">
            <mat-icon (click)="hideBasket()">close</mat-icon>
        </div>
    <h2 class="basket-title">Basket</h2>
    <div *ngIf="products.length; else noResults" class="basket-products-container">
        <mat-card *ngFor="let product of products">
                <div class="product-image">
                    <img src={{product.image}} alt={{product.title}}>
                </div>
                <div class="details">
                    <h3>{{product.title}}</h3>
                    <small>{{product.category}}</small>
                    <p>{{product.description}}</p>
                </div>
                <div class="price-info">
                    <p><b>Quantity:</b> 
                        <button (click)="add(product, 1)"><mat-icon>add_circle_outline</mat-icon></button> 
                        {{product.quantity}} 
                        <button (click)="remove(product, 1)"><mat-icon>remove_circle_outline</mat-icon></button>
                    </p>
                   <p><b>Price:</b> ${{product.price | price}}</p>
                   <p><b>Rating:</b> {{product.rating.rate}} ({{product.rating.count}} votes)</p>
                   <button mat-raised-button color="warn" (click)="onDelete(product)">Delete</button>
                </div>
        </mat-card>
    <h2 class="basket-bottom-title">Total: ${{productsService.total$ | async }}</h2>
    </div>
    </div>
</div>

<ng-template #noResults>
    <h3>There are no products in the basket</h3>
</ng-template>
