.container {
    padding: 1rem 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.mat-card {
    width: 28%;
    margin-bottom: 20px;
}
mat-card-title {
    font-size: 1rem;
}
mat-card-title-group {
    height: 70%;
}