html, body { 
    height: 100%; 
    box-sizing: border-box;
}
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
